{{ define "main" }}
	<!-- Banner -->
  <section id="top_card" class="flex inner" >
		<div id="banner" class="flex-top-left">
      <div id="photo_card">
        {{ $asset := resources.Get "/imgs/IMG_8773_cropped.JPG" }}
        <img id="photo" src="{{ $asset.RelPermalink }}" loading="lazy">

      <ul class="icons">
        <li><a href="mailto:mousebaiker@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
        <li><a href="https://scholar.google.com/citations?user=iyPrfM0AAAAJ&hl=ru" class="icon fa-graduation-cap"><span
              class="label">Google Scholar</span></a></li>
        <li><a href="https://bitbucket.org/mousebaiker" class="icon fa-bitbucket"><span
              class="label">BitBucket</span></a></li>
        <li><a href="https://github.com/mousebaiker" class="icon fa-github"><span class="label">Github</span></a></li>
      </ul>
    </div>
  </div>
  <section id="bio" class="wrapper flex-top-right">
    <article>
      <header>
        <h2> Aleksei Kalinov </h2>
      </header>

      {{.Content}}

    </article>
  </section>
</section>

<section id="research" class="wrapper">
  <div class="inner">
    <header class="align-center">
      <h2>Research & Projects</h2>
    </header>


    <article id="publications" class="subsection">
      <h2>Publications</h2>
      {{ partial "publications.html" . }}
    </article>

    <article id="talks" class="subsection">
      <h2>Talks</h2>
      {{ partial "talks.html" . }}
    </article>

    <article id="theses" class="subsection">
      <h2>Theses</h2>
      {{ partial "theses.html" . }}
    </article>

    <article id="projects" class="subsection">
      <h2>Exploratory Projects</h2>
      {{ partial "projects.html" . }}
    </article>
</section>
{{ end }}